mat_files/
parameters/GRAVITATION/
parameters/MNIST/
parameters/ARTIFICIAL/
parameters/BOSTON/
parameters/CIFAR-10/
x_old_files/
__pycache__/
__pycache__/SSFN.cpython-37.pyc
__pycache__/load_dataset.cpython-37.pyc
__pycache__/MyOptimizers.cpython-37.pyc
__pycache__/MyFunctions.cpython-37.pyc
.vscode
.history/
